
.content {
    max-width: 1184px;
    margin: 0 48px;
}

@media screen and (max-width: 768px) {
    .content {
        margin: 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .content {
        margin: 0 16px;
    }
    
}