
.lead__subtitle {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    margin: 0 0 64px 0;
    max-width: 640px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 740px) {
    .lead__subtitle {
        font-size: 16px;
        margin-bottom: 40px;
        line-height: 1.25;
    }
}